<% include partials/header %>


			
			<h4 class='color_find' id='<%= color%>'></h4>
			<div class="row">
			<button class="col-md-4 bottons" id='prec_button' type="button" class="btn btn-secondary"><strong><</strong></button>
			<div class="col-md-4" id="Calendar_title"></div>
			<button class="col-md-4 bottons" id='next_button' type="button" class="btn btn-secondary"><strong>></strong></button>
			</div>
			<div id="caleandar_head"></div>
			<div id="caleandar"></div>
        
            <script type="text/javascript" src="/stylesheets/calendar.js"></script>
            <br><br><br><br><br><br>


<!--<% include partials/footer %>
